*~
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/autodocs/Makefile
doc/autodocs/Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/.deps/
src/Commands.hpp
src/Makefile
src/Makefile.in
src/ca-mgm/Makefile
src/ca-mgm/Makefile.in
src/ca-mgm/config.h
stamp-h1
swig/Makefile
swig/Makefile.in
swig/perl5/Makefile
swig/perl5/Makefile.in
testsuite/.deps/
testsuite/Makefile
testsuite/Makefile.in
testsuite/TestRepos/.cas/
testsuite/TestRepos/Makefile
testsuite/TestRepos/Makefile.in
testsuite/TestRepos3/.cas/*
testsuite/config/Makefile
testsuite/config/Makefile.in
testsuite/iniParser/chg1.ini.test
testsuite/iniParser/comment.ini.test
testsuite/iniParser/delete.ini.test
testsuite/iniParser/out/
testsuite/iniParser/read1.ini.test
testsuite/iniParser/select1.ini.test
testsuite/iniParser/sysconfig.ini.test
testsuite/iniParser/wr_add.ini.test
testsuite/iniParser/wr_chg.ini.test
testsuite/lib/Makefile
testsuite/lib/Makefile.in
testsuite/limal.test/Makefile
testsuite/limal.test/Makefile.in
testsuite/single.out/Makefile
testsuite/single.out/Makefile.in
typemaps/Makefile
typemaps/Makefile.in
typemaps/perl5/Makefile
typemaps/perl5/Makefile.in
testsuite/TestRepos/Test_CA1/cam.txt
testsuite/TestRepos/Test_CA1/index.txt
testsuite/TestRepos/Test_CA1/serial
testsuite/TestRepos/Test_CA2/.rand
testsuite/TestRepos/Test_CA2/crl/crl.pem
