*~
*.bak
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/autodocs/Makefile
doc/autodocs/Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/.deps/
src/Commands.hpp
src/Makefile
src/Makefile.in
src/ca-mgm/Makefile
src/ca-mgm/Makefile.in
src/ca-mgm/config.h
stamp-h1
swig/Makefile
swig/Makefile.in
swig/perl5/Makefile
swig/perl5/Makefile.in
testsuite/.deps/
testsuite/Makefile
testsuite/Makefile.in
testsuite/TestRepos/.cas/
testsuite/TestRepos/Makefile
testsuite/TestRepos/Makefile.in
testsuite/TestRepos3/.cas/*
testsuite/config/Makefile
testsuite/config/Makefile.in
testsuite/iniParser/chg1.ini.test
testsuite/iniParser/comment.ini.test
testsuite/iniParser/delete.ini.test
testsuite/iniParser/out/
testsuite/iniParser/read1.ini.test
testsuite/iniParser/select1.ini.test
testsuite/iniParser/sysconfig.ini.test
testsuite/iniParser/wr_add.ini.test
testsuite/iniParser/wr_chg.ini.test
testsuite/lib/Makefile
testsuite/lib/Makefile.in
testsuite/limal.test/Makefile
testsuite/limal.test/Makefile.in
testsuite/single.out/Makefile
testsuite/single.out/Makefile.in
typemaps/Makefile
typemaps/Makefile.in
typemaps/perl5/Makefile
typemaps/perl5/Makefile.in
testsuite/TestRepos/Test_CA1/cam.txt
testsuite/TestRepos/Test_CA1/index.txt
testsuite/TestRepos/Test_CA1/serial
testsuite/TestRepos/Test_CA2/.rand
testsuite/TestRepos/Test_CA2/crl/crl.pem
doc/autodocs/*.html
doc/autodocs/*.png
src/*.lo
*.multi
*.single
*.o
*.old
*.gmo
doc/autodocs/doxygen.css
doc/autodocs/doxygen.log
doc/autodocs/libcamgm.tag
doc/autodocs/tabs.css
libcamgm.pc
src/.libs/
src/libcamgm.la
swig/perl5/CaMgm.pm
swig/perl5/CaMgm.so
swig/perl5/CaMgm_wrap.cxx
swig/perl5/auto/
testsuite/CA2/out/
testsuite/CA3/out/
testsuite/CA4/out/
testsuite/CA5/out/
testsuite/CA6/out/
testsuite/CA7/out/
testsuite/ParseCRLTest/out/
testsuite/ParseCertificateTest/out/
testsuite/ParseCertificateTest2/out/
testsuite/ParseRequestTest/out/
testsuite/TestRepos/.rand
testsuite/TestRepos/SubCA_Test/
testsuite/TestRepos/Test_CA1/.rand
testsuite/TestRepos/Test_CA1/certs/
testsuite/TestRepos/Test_CA1/crl/
testsuite/TestRepos/Test_CA1/keys/
testsuite/TestRepos/Test_CA1/newcerts/
testsuite/TestRepos/Test_CA1/req/
testsuite/TestRepos/Test_CA3/
testsuite/limal.log
testsuite/limal.sum
testsuite/openssl.cnf.tmpl.test
testsuite/single.out/out/
testsuite/site.exp
package/libcamgm-*.tar.bz2
po/libcamgm.pot
po/remove-potcdate.sed
po/stamp-po
